html{background-color: #0F0F0F;
	background-image:linear-gradient(60deg, #0F0F0F, #7F7F7F);
	}

h1 {visibility:hidden;}
h3 {font-family:'Tinos', cursive;
	font-size:24px;}
h5 {font-family:'Tinos', cursive;
	font-size:18px;
	margin:25px;}
	
	
header	{width:1800px;
	height:100px;
	max-width:100%;
	margin-top:-100px;
	background-color: #9A0303;}
	
	
body {font-family:  Tinos,serif;
	font-size:12px;
	color: white;}
	

ul	{list-style:none;}
p	{margin:15px;}

.line {margin-top:-25px;}

.line2 {margin-top-2px;
	margin-right:75px;}

#underline
		{margin-top:-80px;
		margin-left:7px;
		height:60px;
		width:300px;
		border-bottom:4px solid black;
		background-color: #191919;}

.date {float:right;
	margin:10px;
	margin-top:-65px;
	font-size:33px;
	text-shadow: 1px 1px black;
	}
	
.segment_type_1	{background-color: #360101;
		float:left;
		width:250px;
		height:200px;
		max-width:100%;
		border-left:4px solid #545454;}

.segment_type_2	{background-color: #990000;
		float:left;
		width:250px;
		height:200px;
		max-width:100%;
		border-left:4px solid white;}

.titre_niveau2	{margin:30px;
		margin-top:-80px;
		font-size:40px;
		font-family:'Fredoka one', cursive;
			}
	

#header         {width:1800px;
		height:100px;
		max-width:100%;
		margin-top:-100px;
		margin-left:-80px;
		background-color: #9A0303;
		transform: rotate(-10deg)}

#vertical	{width:1800px;
		height:100px;
		max-width:100%;
		transform: rotate(90deg);
		margin-left:-55em;
		background-color: #9A0303;}
		
#fblogo		{
		width:80px;
		height:auto;
		position:absolute;
		float: left;
		}

#linkedin		{
		width:80px;
		height:auto;
		position:absolute;
		position:x=120px;
		position:y=200px;
		float: right;
		}

		
#fond_profil	{background-color: #990000;
		width:190px;
		height:380px;
		margin-left:25px;
		margin-top:-50px;
		float:left;
		transform: rotate(-10deg)}

#coordonees     {float:left;
		font-family:'Alfa Slab One', cursive;
		text-align: center;
		text-shadow: 1px 1px black;
		margin-top:50px;
		margin-left:-160px;
		transform: rotate(-10deg);
		}


#profil		{width:145px;
		height:145px;
		border: 2px solid white;
		}
		
		
#name		{font-size:19px;
		color: white;}


#age		{font-size:38px;
		margin-top:-10px;
		color: white;}

		
#adresse	{font-size:16px;
		margin-top:-14px;}
		
#ville		{font-size:17px;
		margin-top:-6px;}
		
#chronologie	{float:right;
		margin:80px;
		margin-left:200px;
		margin-top: -270px;
		transform: rotate(-10deg)}
		
		
#desc		{float:right;
		margin-top:10px;
		margin-left:50px;
		margin-right:-10px;
		padding:10px;
		padding-left:10px;
		padding-top:10px;
		padding-right:20px;
		font-size:19px;
		font-family: 'Tinos', cursive;
		text-shadow: 1px 1px black;
		text-align: right;
		transform: rotate(-10deg);
		background-color: grey;
		border-top:2px solid white;
		border-right:2px solid white;
		border-bottom:3px solid black;
		}
		
#formation	{margin-left:200px;
		visibility: hidden;
		margin-top:500px;
		margin:50px;}
		
